@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 500;
    background-size: cover;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.animated_background {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}
.animated_background > video {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
}

.animated_background > video {
	width: 100%;
    
}

@media ( max-width: 1920px )
{
	.animated_background > video {
		width: 1920px;
	}
}
.container{
    max-width: 1046px;
    margin: 5px auto;
    padding: 20px 15px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 0px 0px 50px #000;
    backdrop-filter: blur(5px);
    height: 2200px;
}
.header{
    position: relative;
    color: #fff;
}
.headerContainer { 
    
    display: flex;
    justify-content: space-between;
}
.headerLogo {
    height: fit-content;
    font-weight: 700;
    font-size: 24px;
}
.headerMenu {
    
}
.menu {
}
.menuList {
    display: flex;
}
.menuItem {
    margin-left: 10px;
}
.menuLink {
}